@model ServerService.Models.Xe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Xe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XeBienso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XeBienso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XeGiayDangky)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XeGiayDangky)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lx.LxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tx.TxId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.XeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
